@tailwind base;

@tailwind components;

@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
	transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

@layer components {
	.tw-container {
		@apply tw-max-w-screen-3xl;
	}
}

@layer base {
	/* All delay classes will take half the time to start */
	:root {
		--animate-delay: 0.2s;
	}

	* {
		cursor: url(../img/cursor-dark.png), none;
		.tw-dark & {
			cursor: url(../img/cursor-light.png), none;
		}
	}

	/* bungee-shade-regular - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Bungee Shade';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/bungee-shade-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}

	/* poppins-regular - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	/* poppins-600 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	/* poppins-700 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
}

@layer utilities {
	.custom-wavy-border {
		--mask: conic-gradient(from 132.5deg at top, #0000, #000 1deg 94deg, #0000 95deg) 50%/65.48px 100%;
		-webkit-mask: var(--mask);
		mask: var(--mask);
	}

	.custom-icon-color {
		@apply tw-text-purple-300 dark:tw-from-purple-300;
	}

	.custom-tag {
		@apply tw-inline-block tw-px-4 tw-py-1 tw-mb-1 tw-mr-2 tw-text-sm tw-font-semibold tw-text-indigo-700 tw-rounded-full tw-bg-indigo-100/55 dark:tw-bg-indigo-700/50 dark:tw-text-indigo-200;
	}
}
