@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  touch-action: pan-x pan-y;
}

.fade-enter-active,
.fade-leave-active  {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


@layer base {

  /* bungee-shade-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bungee Shade';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bungee-shade-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer utilities {
  .custom-wavy-border {
    --mask: conic-gradient(from 132.5deg at top,#0000,#000 1deg 94deg,#0000 95deg) 50%/65.48px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

  .custom-circle-animation-1 {
   @media (prefers-reduced-motion: no-preference) {
    animation: customSpinAnimation 40s linear infinite alternate-reverse;
   }
  }

  .custom-circle-animation-2 {
   @media (prefers-reduced-motion: no-preference) {
    animation: customAnimation 30s linear infinite alternate-reverse;
   }
  }
  .custom-circle-animation-3 {
   @media (prefers-reduced-motion: no-preference) {
    animation: customAnimation2 50s linear infinite alternate-reverse;
   }
  }

  @keyframes customSpinAnimation {
    0% {
      transform: rotate(0);
      transform-origin: 50% 55%;
    }
    100% {
      transform: rotate(360deg);
      transform-origin: 58% 48%;
    }
  }

  @keyframes customAnimation {
    0% {
      transform: rotate(0);
      transform-origin: 50% 55%;
    }
    100% {
      transform: rotate(80deg);
      transform-origin: 58% 48%;
    }
  }

  @keyframes customAnimation2 {
    0% {
      transform: rotate(0);
      transform-origin: 60% 60%;
    }
    100% {
      transform: rotate(80deg);
      transform-origin: 38% 60%;
    }
  }
}